
*{
    font-family: arial;
}
a{
    text-decoration: none;  /*移除超連結底線*/
    color:#0069b0;
}
.top_info{
    min-height: 30px;
}
.top_info .left{
    float:left;
}
.top_info .right{
    float: right;
}
.top_info .right ul{
    margin:0;
    padding:0;
    float: left;
}
.top_info .right ul.ul1 li{
    display: inline-block;
    position: relative;
}
.top_info .right ul.ul1 li a{
    margin:0 0 5px 0;
}
.top_info .right ul.ul1 li span{
    border-top:0px solid #0069b0;
    position: absolute;
    margin: 0 auto;
    top:0;
    left:0;
    right:0;
    width: 1px;
    height: 100%;
}
.top_info .right ul.ul1 li:hover span{
    width:100%;
    transition: 1s;
    border-bottom: 5px solid #0069b0;
}
.top_info .right ul.ul1 li.dot{
    padding:0;
    color:#999;
    font-size:12px;
    padding: 0 5px;
}
.top_info .right ul.ul1 li.dot:hover{
    border: none;
}

.top_info .right ul.ul2>li{
    float:left;
    padding: 0 15px;
    list-style: none;
    position: relative;     /*搭配absolute 可組合性使用*/
}

.top_info .right ul.ul2>li ul{
    display: none;
}

.top_info .right ul.ul2>li:hover ul{
    display:block;
    position:absolute;
    left: 0;
    z-index:10;
    background:#fff;
    width:70px;
}
.top_info .right ul.ul2>li:hover ul>li{
    float: none;
    display:block;
    padding: 10px 15px;
}
.top_info .right ul.ul2 li ul li:hover{
    background-color: #0069b0;
}
.top_info .right ul.ul2 li ul li:hover a{
    color:#fff;
}

.middle_info .logo{
    float: left;
}
.middle_info .logo h1{
    -moz-box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
    box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
}
.middle_info .contact{
    float: right;
    width: 83%;         /* 670/(670+130) % */
    text-align: right;
}
.middle_info .contact .box{
    float: right;       /* 亦可使用 display = inline-box 
                            但所有被指定套用的元素內容 框線 留白 與 間距
                            都與文字設定相同 因此不易調整*/
    width: 200px;
}
.middle_info .contact .box img{
    margin-top:35px;
    float:left;
}
.middle_info .contact .box div{
    float:left;
    margin: 25px 0 0 10px;
}
.middle_info .contact .box div h5{
    padding: 3px 0;
    margin: 0;
    font-size: 12px;
}
.middle_info .contact .box div span{
    font-size: 12px;
}
.middle_info .contact .box_last{
    float: right;
    margin: 20px 0 0 0;
}

.clear{
    clear:both;
}

nav{
    padding:10px 0;
}

nav ul{
    padding:0;
    margin:0;
}

nav>ul>li{
    padding:5px 10px 0 10px;
    margin:0;
    float:left;
    list-style: none;
    position: relative;
}

nav>ul>li>span.bar{
    border-top:0px solid #0069b0;
    position: absolute;
    margin: 0 auto;
    top:0;
    left:0;
    right:0;
    width: 1px;
    height: 100%;
}

nav>ul>li:hover>span.bar{
    width: 100%;
    border-top:2px solid #0069b0;
    transition:width 0.5s;
}

span.angle::after{
    content: "▽";
}

nav>ul>li>ul{
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 3px 3px 5px #999;
}

nav>ul>li:hover>ul{
    display:block;
}

nav>ul>li>ul>li{
    display: block;
    float:none;
    width:200px;
    position: relative;
}

nav>ul>li>ul>li span.sub-angle::after{
    float:right;
    content: ">";
}

nav>ul>li>ul>li:hover{
    background: #0069b0;
    cursor: pointer;
}

nav>ul>li>ul>li:hover>a{
    color:#fff;
}

nav>ul>li>ul>li>ul{
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

nav>ul>li>ul>li:hover>ul{
    display:block;
    background: #fff;
    width: 200px;
    box-shadow: 3px 3px 5px #999;
}

nav>ul>li>ul>li>ul>li{
    list-style:none;
    padding: 10px 10px;
}

nav>ul>li>ul>li>ul>li:hover{
    background: #0069b0;
}

nav>ul>li>ul>li>ul>li:hover a{
    color: #fff;
}

.banner{
    position: relative;
}

.banner img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.banner button{
    position: absolute;
    top: 30vw;
    z-index: 1;
    font-size: 2em;
    background: #fff;
    color: #333333;
    border: 0;
}

.banner .prev{
    left:0;
}

.banner .next{
    right: 0;
}

div.line{
    position: absolute;
    left: 0;
    top: 0;
    background: #f00;
    height: 10px;
    width: 100%;
    z-index: 1;
}

.banner .title div{
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    width: 100%;
    text-align: center;
    top: 30px;
    font-size: 50px;
    color: #fff;
    z-index: 5;
}

.banner .title div:not(:last-child){
    display: none;
}

.banner .title div h2{
    padding: 0;
    margin: 0;
}

.banner .title div:last-child{
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: bottom;
}

.banner{
    position: relative;
    height: 70vw;
}

.info .info1{
    float:left;
    width: calc( 25% - 40px );
    padding: 10px 20px;
    background: #ccc;
    height: 300px;
    text-align: center;
}

.info img{
    width: 70%;
}

.info .info1 h5 {
    font-size: 15px;
    padding: 10px 0 5px 0;
    margin: 0;
}

.info .info1 p{
    font-size: 13px;
    line-height: 1.6;
}