
*{
    font-family: arial;
}
a{
    text-decoration: none;  /*移除超連結底線*/
    color:#0069b0;
}
.top_info{
    min-height: 30px;
}
.top_info .left{
    float:left;
}
.top_info .right{
    float: right;
}
.top_info .right ul{
    margin:0;
    padding:0;
    float: left;
}
.top_info .right ul.ul1 li{
    display: inline-block;
}
.top_info .right ul.ul1 li:hover{
    transition-delay: 2s;
    border-bottom: 2px solid #0069b0;
}
.top_info .right ul.ul1 li.dot{
    padding:0;
    color:#999;
    font-size:12px;
    padding: 0 5px;
}
.top_info .right ul.ul1 li.dot:hover{
    border: none;
}

.top_info .right ul.ul2>li{
    float:left;
    padding: 0 15px;
    list-style: none;
    position: relative;     /*搭配absolute 可組合性使用*/
}

.top_info .right ul.ul2>li ul{
    display: none;
}

.top_info .right ul.ul2>li:hover ul{
    display:block;
    position:absolute;
    left: 0;
    z-index:10;
    background:#fff;
    width:70px;
}
.top_info .right ul.ul2>li:hover ul>li{
    float: none;
    display:block;
    padding: 10px 15px;
}
.top_info .right ul.ul2 li ul li:hover{
    background-color: #0069b0;
}
.top_info .right ul.ul2 li ul li:hover a{
    color:#fff;
}

.middle_info .logo{
    float: left;
}
.middle_info .logo h1{
    -moz-box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
    box-shadow:0 0 5px 5px rgba(20%,20%,40%,0.5);
}
.middle_info .contact{
    float: right;
    width: 70%;
}
.middle_info .contact .box{
    float: left;
    width: 200px;
}
.middle_info .contact .box img{
    margin-top:35px;
    float:left;
}
.middle_info .contact .box div{
    float:left;
    margin: 25px 0 0 10px;
}
.middle_info .contact .box div h5{
    padding: 3px 0;
    margin: 0;
    font-size: 12px;
}
.middle_info .contact .box div span{
    font-size: 12px;
}
.middle_info .contact .box_last{
    float: left;
    margin: 20px 0 0 0;
}