.box{
    width: 800px;
    margin: 0 auto;
    text-align: center;
}
.box ul{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #666;
}

.box ul li{
    display: inline-block;
    padding: 2px 10px;
    margin: 3px 0;
    cursor: pointer;
}

.box ul li:not(:last-child){
    border-right: 1px solid #666;
}

.box ul li:hover{
    color: #966;
}

.box .panel{
    padding: 20px 0;
}

.box .panel .item{
    float: left;
    width: 200px;
    height: 200px;
    background: #afa;
    /* overflow: hidden; */
    position: relative;
}

.box .panel .item img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    z-index: 10;
    transition: top 1s; /* 使用前需要先定位到top位置 */
}

.box .panel .item:hover img{
    top: -38px;
}

.box .panel .item .message{
    background: #aaf;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    z-index: 5;
}

.box .panel .showAni{
    animation: showX 3s;
    transform: scale(1);
    width: 200px;
}
@keyframes showX{
    0%{
        transform: scale(0);
        width: 0px;
    }
    50%{
        transform: scale(0);
        width: 200px;
    }
    100%{
        transform: scale(1);
        width: 200px;
    }
}


.box .panel .hideAni{
    animation: hideX 3s;
    transform: scale(0);
    width: 0px;
}
@keyframes hideX{
    0%{
        transform: scale(1);
        width: 200px;
    }
    50%{
        transform: scale(0);
        width: 200px;
    }
    100%{
        transform: scale(0);
        width: 0px;
    }
}

.about{
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.about > .about1{
    width: 500px;
    position: absolute;
    top: 0;
}